
#donation_page{
  background-color: red;
  font-family: "arial","verdana";
  overflow: scroll;
}
#donation_page li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-top: 1px solid black;
  height: 12.5%;
  font-size: 3vh;
  margin-top: 0;
}

#donation_page ul{
  margin-top: 0;
  padding: 0rem;
  height: 75vh;
}
#donation-heading1 {

  color: rgb(255, 255, 255);
  
  
}
.top-row, .middle-row, .bottom-row {
  position: fixed;
  left: 0;
  right: 0;
}
#cancel-icon {
 margin-top: 5px;
 display: block;
 margin-left: 0%;
 margin-right: 15px;
 float: left;
}
#help-button {
  margin-top: 5px;
  margin-left: 15px;
  float: right;
  margin-right: 3%;
  background-color: lightgray;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.top-row {
  background-color: rgb(48, 154, 87);
  top: 0;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.middle-row {
  background-color: rgb(255, 255, 255);
  height: 100%;
  top: 15%;
  bottom: 10%;

  overflow-y: auto;

}
.bottom-row {
  z-index: 1;
  height: 10vh;
  padding: 2rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:3px solid #bbb;
  font-size: 100%;
  background-color: white;
}
.food-type {
  border-radius: 25px;
  padding: 10px;
  width: 350px;
  height: 125px;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.Donation .navbar {
  display: none;
}

.back-button {
  text-decoration: underline;
  font-size: 2vh;
  float: left;

}
.next-button {
  
  font-size: 2vh;
  background-color: lightgray;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  border: none;
  border-radius: 1rem;
}
#first-donation{
  display: none;
}
#second-donation {
    display: none;
}
#third-donation {
  display: visible;
}
.selected {
  border-color: red;
  background-color: grey;
}



input{

  padding: 0.3rem;
  width: 100%;
}

input:not(:placeholder-shown){
  
}
.description-input{

  padding: 0.5rem;
}
.description-input:focus{
  opacity: 100%;
}

#third-donation .middle-row{
  box-sizing: border-box;
  margin: 2vh;
}

#donation_page .form-row{
  box-sizing: border-box;
  padding-bottom: 1rem;
}

#donation_page .upload-image{
  padding-top: 1rem;
}

.react-DatePicker{
  width: 100%;
}

#third-donation .description-label{
  font-weight: bold;
  font-size: 1.8vh;
  
}

#food-description-input{
  max-width: 100%;
  min-width: 100%;
  min-height: 15vh;
  max-height: 15vh;
}

.image_box{
  position: relative;
  display:flex;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 35vw;
  height: 10vh;
  margin-right: 3vh;
}

.image_upload_button{
  height: 10vh;
  width: 35vw;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.images{
  display: flex;
  
}

.delete_image{
  position: absolute;
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 1rem;
  opacity: 70%;
  font-size: 1rem;
  height: 20px;
  width: 20px;
  top: 2px;
  right: 2px;
  background-color: white
  

}

.uploaded_image{
  overflow: hidden;
	position: absolute;
  opacity: 0;
}

.make_image_visible{
  width: 100%;
  height: 100%;
  object-fit: "cover";
  opacity: 100%;
  border-radius: 0.5rem;
}