
#list-page .product_list{
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    background-color: lightgray;
  }
  


  #list-page .productCard{
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    height: 15vh;
    margin-bottom: 1rem;
  }
  
  #list-page .productImage{
    
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
  
    
  }

  #list-page .image_box{
    height: auto;
    display: flex;
   
    overflow: hidden;
  }
